@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/edtorbett\/Documents\/NetBeansProjects\/edward\.torbett\.co\.uk-website\/public_html\/scss\/style\.scss}line{font-family:\000032}}
.csstransforms #gravatar_thumbnail {
  transform: rotate(5deg);
  position: relative;
  left: 30px;
  top: 20px; }
